{% extends "base.html" %}

{% block "title" %}Baldai{% endblock %}

{% block "content" %}
{% load static %}
{% if baldas.photo %}
<img src="{{ baldas.photo.url }}" class="card-img-top" style="width: 80%; height: auto;" alt="...">
{% else %}
<img src="{% static 'img/furniture_default.png' %}" class="card-img-top" style="width: 50%; height: auto;">
{% endif %}
<h1>Baldo kodas kataloge: {{ baldas.serijos_nr }}</h1>
<p><strong>Projektuotojas: </strong>{{ baldas.client_name }}</p>
<p>{{ baldas.description|safe }}</p>
{% endblock %}