{% extends "base.html" %}


{% block "title" %}Pradžia{% endblock %}

{% block "content" %}
<h1>Baldų gamykla</h1>
{% if user.is_authenticated %}
<h3>Sveiki atvykę, {{ user }}!</h3>
<p>Čia galite peržiūrėti savo užsakymus, pateikti naują užsakymą arba redaguoti savo duomenis.</p>
<p><a class="btn btn-secondary" href="{% url 'order_new' %}">Pateikti naują užsakymą</a></p>
<p><a class="btn btn-secondary" href="{% url 'profile' %}">Redaguoti savo duomenis</a></p>
<p><a class="btn btn-secondary" href="{% url 'my_orders' %}">Peržiūrėti savo užsakymus</a></p>

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">
    Atsijungti
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ar tikrai norite atsijungti?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Atsijungti</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


{% endif %}
<p><strong>Viso pagaminta plokščių: </strong>{{ product_qty_total }}</p>
<p><strong>Atliktų užsakymų: </strong>{{ num_orders_done }}</p>
<p><strong>Baldų projektų: </strong>{{ num_baldai }}</p>
<p>Čia lankotės {{ num_visits }}-ą kartą</p>

<!-- Include the Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Create a canvas element for the chart -->
<canvas id="myChart" width="400" height="400"></canvas>

<!-- Create the chart -->
<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    // Create separate arrays for the labels and data
    var labels = [];
    var data = [];
    {% for product in products_per_day %}
        labels.push("{{ product.date|date:'Y-m-d H:i:s' }}");
        data.push({{ product.total_qty }});
    {% endfor %}

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '# Pagaminta per dieną',
                data: data,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
    });
</script>
{% endblock %}