{% extends "base.html" %}

{% block "title" %}{{ order.order_no }}{% endblock %}

{% block "content" %}
<h1>{{order.order_no}} Užsakymas {{ order.date|date:"Y-m-d | H:i:s" }}</h1>
{% if order.client == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order_update' order.pk %}">Redaguoti</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order_delete' order.pk %}">Ištrinti</a>
</div>
{% endif %}
<p><strong>Baldo projektas: </strong>{{ order.baldas }}</p>
<p><strong>Būsena: </strong>{{ order.get_status_display }}</p>
<p><strong>Terminas: </strong>{{ order.deadline|date:"Y-m-d" }} (liko {{ order.deadline|timeuntil }})</p>
<p><strong>Klientas: </strong><img class="rounded-circle account-img" style="width: 30px"
                                   src="{{ order.client.profile.photo.url }}"> {{ order.client }}<br/></p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Plokštė</th>
        <th>Storis</th>
        <th>Kiekis</th>
        <th>Kaina</th>
        <th>Ilgis</th>
        <th>Plotis</th>
        <th>Cut length</th>
        <th>Cut width</th>
        <th>← kairė briauna</th>
        <th>→ dešinė briauna</th>
        <th>↑ viršutinė briauna</th>
        <th>↓ apatinė briauna</th>
        <th>Frezavimas</th>
        <th>Eskizas</th>
        <th>Gręžimas</th>
        {% if order.client == user %}
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.product_decor_url_with_decor|default_if_none:"-" }}</td>
        <td>{{ line.product_thickness }}</td>
        <td>{{ line.qty1 }}</td>
        <td>{{ line.product.price_product }}€</td>
        <td>{{ line.product_length }}</td>
        <td>{{ line.product_width }}</td>
        <td>{{ line.total_length }}</td>
        <td>{{ line.total_width }}</td>
        <td>{{ line.left_edge_info.e_thickness_model }}mm</td>
        <td>{{ line.right_edge_info.e_thickness_model }}mm</td>
        <td>{{ line.top_edge_info.e_thickness_model }}mm</td>
        <td>{{ line.bottom_edge_info.e_thickness_model }}mm</td>
        <td>{{ line.mill_sketch_image_url|default_if_none:"-" }}</td>
        <td>{{ line.sketch_image_url|default_if_none:"-" }}</td>
        <td>{{ line.drill_image_url|default_if_none:"-" }}</td>
        {% if order.client == user %}
        <td class="d-flex">
            <a class="btn btn-secondary btn-sm mt-1 mb-1 mr-1" href="{% url 'orderline_update' order.pk line.pk %}">Redaguoti</a>
            <form method="POST" action="{% url 'orderline_delete' order.pk line.pk %}">
                {% csrf_token %}<input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Ištrinti">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    <!--Add button add new line if order.client == user -->
    {% if order.client == user %}
    <tr>
        <td colspan="18">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'orderline_new' order.pk %}">Pridėti</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="18"><strong>BENDRA SUMA:</strong></td>
        <td><strong>{{ order.total|floatformat:2 }}€</strong></td>
    </tr>
    </tbody>
</table>


{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr>
    <br/>
    <h4>Palikite komentarą:</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}</br>
        <input type="submit" value="Paskelbti">
    </form>
</div>
{% endif %}
<h4>Komentarai:</h4>
{% if order.comments.all %}
{% for comment in order.comments.all %}
<hr>
<strong>{{ comment.author }}</strong>, <em>{{ comment.date_created}}</em>
<p>{{ comment.content }}</p>
{% endfor %}
{% else %}
<p>Užsakymas neturi komentarų</p>
{% endif %}
{% endblock %}