{% extends "base.html" %}

{% block "title" %}Paiškos rezultatai{% endblock %}

{% block "content" %}
<h1>Paieškos pagal užklausą "{{ query }}" rezultatai:</h1>
{% if not baldai and not products %}
<p>Nieko nepavyko surasti.</p>
{% else %}
    {% if baldai %}
    {% for baldas in baldai %}
    <p><a href="{% url 'baldas' baldas.pk %}">{{ baldas }}</a></p>
    <hr>
    {% endfor %}
    {% endif %}
    <hr>
    {% if products %}
    {% for product in products %}
    <p><a href="{% url 'product' product.pk %}">{{ product }}</a></p>
    <hr>
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}